library(ggplot2)
library(reshape)
in_files = {{{in-files}}}
ldf = lapply(in_files, read.table, header=TRUE, stringsAsFactors=FALSE)
df = do.call(rbind, ldf)
fc_plot = {{{fc-plot}}}
expr_plot = {{{expr-plot}}}
pval_plot = {{{pval-plot}}}

df$log10expr = log(df$expr)
complete = df[complete.cases(df),]
melted = melt(complete, id=c("algorithm", "id"))

pair_plot = function(var, out_file) {
    casted = cast(subset(melted, variable ==var), id  ~ algorithm + variable)
    rownames(casted) = casted$id
    casted$id = NULL
    p = plotmatrix(casted)
    ggsave(filename=out_file, plot=p)
    return(p)
}

pair_plot("pval", pval_plot)
pair_plot("logFC", fc_plot)
pair_plot("log10expr", expr_plot)
    

## casted = cast(subset(melted, variable == "pval"), id  ~ algorithm + variable)
## rownames(casted) = casted$id
## casted$id = NULL
## casted = casted[complete.cases(casted),]
## ggpairs(casted)

## casted = cast(subset(melted, variable == "logFC"), id  ~ algorithm + variable)
## rownames(casted) = casted$id
## casted$id = NULL
## casted = casted[complete.cases(casted),]
## ggpairs(casted)

## casted = cast(subset(melted, variable == "log10expr"), id  ~ algorithm + variable)
## rownames(casted) = casted$id
## casted$id = NULL
## casted = casted[complete.cases(casted),]
## ggpairs(casted)

## jaccard = function(df, column, cutoff=0.05) {
##     algorithms = unique(df$algorithm)
##     sig = list()
##     for(alg in algorithms) {
##         sig[alg] = list(subset(df, algorithm == alg & df[,column] < cutoff)$id)
##     }
##     return(sig)
##     ji = list()
##     for(alg in algorithms) {
##         for(alg2 in algorithms) {
##             comparison = paste(alg, "_vs_", alg2, sep="")
##             alg_intersection = intersect(sig[alg], sig[alg2])
##             alg_union = union(sig[alg], sig[alg2])
##             ji[comparison] = length(alg_intersection) / length(alg_union)
##             print(alg_intersection)
##         }
##     }
##     return(ji)
## }

## jaccard(df)
