# vst+limma
# Soneson, C. & Delorenzi, M. A comparison of methods for differential expression
# analysis of RNA-seq data. BMC Bioinformatics 14, 91 (2013).

library(DESeq)
library(limma)
library(HTSFilter)
library(tools)
count_file = {{{count-file}}}
out_file = {{{out-file}}}
class = {{{class}}}
normalized_file = paste(strsplit(out_file, file_ext(out_file)[[1]][[1]]), "counts", sep="")
counts = read.table(count_file, header=TRUE, row.names="id")
DESeq.cds = newCountDataSet(countData = counts, conditions = class)
DESeq.cds = estimateSizeFactors(DESeq.cds)
DESeq.cds = estimateDispersions(DESeq.cds, method = "blind", fitType = "local")
DESeq.cds <- HTSFilter(DESeq.cds, s.len=25)$filteredData
res = nbinomTest(DESeq.cds, levels(class)[1], levels(class)[2])

comparison = paste(levels(class)[1], "_vs_", levels(class)[2], sep="")
out_table = data.frame(id=res$id, expr=res$baseMean, logFC=res$log2FoldChange,
          pval=res$pval, padj=res$padj)
write.table(out_table, file=out_file, quote=FALSE, row.names=FALSE,
            sep="\t")
write.table(counts(DESeq.cds, normalized=TRUE), normalized_file, quote=FALSE,
            row.names=FALSE, sep="\t")
