```{r pathway-load-libraries}
orgdb = {{{orgdb}}}
library(clusterProfiler)
library(orgdb, character.only=TRUE)
dbobj = eval(parse(text=orgdb))
```

```{r go-function}
go_cp = function(res, comparison) {
  universe = rownames(res)
  genes = rownames(subset(res, padj < 0.05))
  genes.df = bitr(genes, "ENSEMBL", c("ENTREZID"), orgdb)
  universe.df = bitr(universe, "ENSEMBL", c("ENTREZID"), orgdb)
  mf = summary(enrichGO(genes.df$ENTREZID, universe=universe.df$ENTREZID,
                OrgDb=eval(orgdb),
                ont="MF",
                pAdjustMethod="BH",
                qvalueCutoff=1,
                pvalueCutoff=1))
  mf$ont = "MF"
  cc = summary(enrichGO(genes.df$ENTREZID, universe=universe.df$ENTREZID,
                OrgDb=dbobj,
                ont="CC",
                pAdjustMethod="BH",
                qvalueCutoff=1,
                pvalueCutoff=1))
  cc$ont = "CC"
  bp = summary(enrichGO(genes.df$ENTREZID, universe=universe.df$ENTREZID,
                OrgDb=dbobj,
                ont="BP",
                pAdjustMethod="BH",
                qvalueCutoff=1,
                pvalueCutoff=1))
  bp$ont = "BP"
  combined = rbind(cc, mf, bp)
  combined$comparison = comparison
  return(combined)}
```

```{r gsea-function}
gsea_cp = function(res, comparison) {
  universe = rownames(res)
  genes = res[, "log2FoldChange", drop=FALSE]
  genes.df = bitr(genes, "SYMBOL", c("ENSEMBL", "ENTREZID"), orgdb)
  universe.df = bitr(universe, "SYMBOL", c("ENSEMBL", "ENTREZID"), orgdb)
  universe = rownames(seurat_obj@data)
  seurat_obj = project.pca(seurat_obj, do.print=FALSE)
  genes = seurat_obj@pca.x.full[, component, drop=FALSE]
  colnames(genes) = c("PC")
  gene_symbols = rownames(genes)[order(abs(genes[,1]), decreasing=TRUE)]
  genes$SYMBOL = rownames(genes)
  genes.df = bitr(gene_symbols, "SYMBOL", c("ENSEMBL", "ENTREZID"), orgdb)
  genes.df = genes.df %>% left_join(genes, by="SYMBOL")
  universe.df = bitr(universe, "SYMBOL", c("ENSEMBL", "ENTREZID"), orgdb)
  genes = genes.df[, c("ENTREZID", "PC")] %>% unique()
  gene_pc = genes[, "PC"]
  names(gene_pc) = genes$ENTREZID
  gene_pc = gene_pc[order(gene_pc, decreasing=TRUE)]
  cc = summary(gseGO(gene_pc, ont="CC", OrgDb=dbobj,
               nPerm=500, minGSSize=100, pvalueCutoff=1, pAdjustMethod="BH",
               verbose=TRUE))
  cc$ont = "CC"
  mf = summary(gseGO(gene_pc, ont="MF", OrgDb=dbobj,
               nPerm=500, minGSSize=100, pvalueCutoff=1, pAdjustMethod="BH",
               verbose=TRUE))
  mf$ont = "MF"
  bp = summary(gseGO(gene_pc, ont="bp", OrgDb=dbobj,
               nPerm=500, minGSSize=100, pvalueCutoff=1, pAdjustMethod="BH",
               verbose=TRUE))
  bp$ont = "BP"
  combined = rbind(cc, mf, bp)
  combined$samplename = samplename
  return(combined)
}
```
