```{r pathway-load-libraries}
orgdb = {{{orgdb}}}
biomart_dataset = {{{biomart-dataset}}}
library(dplyr)
library(clusterProfiler)
library(orgdb, character.only=TRUE)
library(biomaRt)
```

```{r biomaRt-entrez}
mart = biomaRt::useMart(biomart = "ensembl", dataset=biomart_dataset)
entrez = biomaRt::getBM(attributes = c("ensembl_gene_id", "entrezgene"), mart=mart)
entrez$entrezgene = as.character(entrez$entrezgene)
```

```{r go-function}
go_cp = function(res, comparison) {
  res = data.frame(res)
  res$ensembl_gene_id = rownames(res)
  res = res %>% left_join(entrez, by="ensembl_gene_id") %>% filter(!is.na(entrezgene))
  universe = res$entrezgene
  genes = subset(res, padj < 0.05)$entrezgene
  mf = summary(enrichGO(genes, universe=universe,
                OrgDb=orgdb,
                ont="MF",
                pAdjustMethod="BH",
                qvalueCutoff=1,
                pvalueCutoff=1))
  mf$ont = "MF"
  cc = summary(enrichGO(genes, universe=universe,
                OrgDb=orgdb,
                ont="CC",
                pAdjustMethod="BH",
                qvalueCutoff=1,
                pvalueCutoff=1))
  cc$ont = "CC"
  bp = summary(enrichGO(genes, universe=universe,
                OrgDb=orgdb,
                ont="BP",
                pAdjustMethod="BH",
                qvalueCutoff=1,
                pvalueCutoff=1))
  bp$ont = "BP"
  combined = rbind(cc, mf, bp)
  combined$comparison = comparison
  return(combined)}
```

```{r gsea-function}
gsea_cp = function(res, comparison) {
  universe = rownames(res)
  genes = res[, "log2FoldChange", drop=FALSE]
  genes$ENSEMBL = rownames(genes)
  genes.df = bitr(genes, "ENSEMBL", c("ENSEMBL", "ENTREZID"), orgdb)
  genes.df = genes.df %>% left_join(genes, by="ENSEMBL")
  gene_fc = genes.df[, "log2FoldChange"]
  names(gene_fc) = genes.df$ENTREZID
  gene_pc = gene_pc[order(gene_pc, decreasing=TRUE)]
  cc = summary(gseGO(gene_pc, ont="CC", OrgDb=orgdb,
               nPerm=500, minGSSize=100, pvalueCutoff=1, pAdjustMethod="BH",
               verbose=TRUE))
  cc$ont = "CC"
  mf = summary(gseGO(gene_pc, ont="MF", OrgDb=orgdb,
               nPerm=500, minGSSize=100, pvalueCutoff=1, pAdjustMethod="BH",
               verbose=TRUE))
  mf$ont = "MF"
  bp = summary(gseGO(gene_pc, ont="bp", OrgDb=orgdb,
               nPerm=500, minGSSize=100, pvalueCutoff=1, pAdjustMethod="BH",
               verbose=TRUE))
  bp$ont = "BP"
  combined = rbind(cc, mf, bp)
  combined$samplename = samplename
  return(combined)
}
```
