## sleuth

```{r sleuth-setup}
library(dplyr)
library(sleuth)
sf_dirs = file.path("..", "..", rownames(summarydata), "sailfish",
                    rownames(summarydata))
names(sf_dirs) = rownames(summarydata)
sfdata = metadata
sfdata$sample = rownames(sfdata)
sfdata$path = sf_dirs
so = sleuth_prep(sfdata, design) %>% sleuth_fit()
models(so)
save(so, file="sleuth_models.RData")
```

You can load up the Shiny app to explore the sleuth data by loading the Rmd file
into RStudio and typing `sleuth_live(so)`. I'm not sure at this point how to
handle more complex models automatically with Sleuth, so right now this kind of
has to be done by hand. You can see how to do a simple two-contrast modeling
the vignette with `vignette('intro', package = 'sleuth')`. For more complicated
contrasts you can do a likelood ratio test against a null model with
`sleuth_lrt`.