```{r sleuth-setup}
library(sleuth)
```
biocLite("devtools")    # only if devtools not yet installed
biocLite("blahah/sleuth")

samples = paste(dirname(project_summary), "..", rownames(summarydata), "sailfish",
                rownames(summarydata), sep="/")
metadata = summarydata[, !colnames(summarydata) %in% known_columns, drop=FALSE]
metadata$sample = samples
metadata
```

```{r sleuth-fit-model}
so = sleuth_prep_sailfish(samples, metadata, as.formula(design)) %>% sleuth_fit()
models(so)
# test
#so <- sleuth_test(so, which_beta = 'osmotic_stress:yes')

# inspect the results
#sleuth_live(so)
```
