```{r sleuth-setup}
sf_dirs = file.path("..", "..", rownames(summarydata), "sailfish")
names(sf_dirs) = rownames(summarydata)
so = sleuth_prep(sf_dirs, metadata, design) %>% sleuth_fit()
models(so)
save(so, file="sleuth_models.RData")
```
